*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    min-height: 100vh;
}

.link{
    
    position: relative;
    transform: translatey(-450px);
    font-size: 20px;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 10px;
    margin-top: 10px;
}

p{
    color: white;
    position: absolute;
    margin-left: 25px;
    transform: translatey(25px);
    font-weight: bolder;
}

.container{
    background-color: whitesmoke;
    width: 800px;
    height: 800px;
    align-items: self-end;
    justify-content: center;
    display: flex;
    border-bottom: 100px solid rgba(0, 0, 0, 0.548);
}

.ball{
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: ping 1s infinite alternate ease;  
    
}

.sombra{
    background-color: rgba(0, 0, 0, 0.37);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    transform: rotateX(-80deg);
    margin-bottom: -73px;
    animation: sombras 1s infinite alternate;
}


@keyframes ping {
    0%{
        transform: translatey(30px) scaleX(1.4);
    }
    10%{ transform: scale(1);}

    100%{
        transform: translatey(-500px)rotate(180deg);
    }
   
}

@keyframes sombras {
    0%{
        transform: rotateX(-60deg) scaleX(1.5);
    }
    

    100%{
        
    }
   
}

@media screen and (max-width: 414px){
    body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;   
    }

    .container{
        width: 386px;
        height: 780px;
        padding: -10px;
        margin-top: 10px;
        margin-left: -60px;
        background-color: lightblue;
    }

    .link{
        margin-top: 20%;
        margin-left: 10px;
    }
}












